[build]
  publish = "."

[[redirects]]
  from = "/api/*"
  to = "https://arandua1-production.up.railway.app/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200